/*Homepage*/
body.home {
  margin: 0;
  padding: 0;
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.dropbtn {
    color: black;
    padding: 16px;
    font-size: 50px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


.dropdown button {
 background-color: Transparent;
 background-repeat:no-repeat;
 border: none;
 cursor:pointer;
 overflow: hidden;
 outline:none;
}

.dropdown {
  text-align: right;
  margin-right: 0;
  margin-top: -1%;

}


.dropdown-content {
    display: none;
    font-size: 2em;
    background: none;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left:1%;
    padding-right:1%;
    margin-top: -6%;
    text-align: center;

}



.dropdown-content a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding-left: 4%;
  padding-right: 4%;
  color: black;
}


.menu-bar{
    text-align: center;
}

.menu-bar a:hover {
  color: #FFC4CE;
}


@media all and (max-width: 700px){
.menu-bar {padding-bottom: 2%; margin-top: -15%;}
.menu-bar a {padding-left: 2%;
padding-right: 2%; margin-left: 30%; margin-right: 30%;}
}
/*About*/

header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FFC4CE;
  font-size: 3em;
}

.border p{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1em;
  padding-right: 4%;
  padding-left: 4%;

}

.border p:nth-child(1){
  padding-top: 4%;
  padding-bottom: 4%;
}
.border p:nth-child(2){
  padding-bottom: 4%;
}

.border a{
  color:#FFC4CE;
}

.border img{
  width: 100%;
  height: auto;
  padding: 4%;
}


/*Portfolio*/
.col-md-4 {
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
}

.col-md-4:nth-child(1) {
  padding-top: 4%;
  padding-bottom:4%;
}
.col-md-4:nth-child(2) {
  padding-bottom:4%;
}
.col-md-4:nth-child(1) {
  padding-bottom:4%;
}

/*Contact*/

.container {
  text-align: center;
  margin-top: 13%;

}

.row{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
}

.col-md-3 a {
  color: black;
  text-decoration: none;
}

.col-md-3 a:hover {
  color: #FFC4CE;
}



body.contact {
  margin: 0;
  padding: 0;
  background: url(img/background2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
