*:focus{
  outline:none;
  border-color: none;
}

/*Homepage*/
body.home {
  margin: 0;
  padding: 0;
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body{
  height:100%;
}

.navbar-default {
    background: rgba(255, 255, 255, 1);
}

.navbar-collapse {
    border-top: none;
}

.navbar-default .navbar-nav li{
    font-size: 1.6em;
    background-color: #fff;

}


.navbar-default {
  box-shadow: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; !important;

  color: #333130;
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFC4CE;
}


@media all and (max-width: 700px){
.menu-bar {padding-bottom: 2%; margin-top: -15%;}
.menu-bar a {padding-left: 2%;
padding-right: 2%; margin-left: 30%; margin-right: 30%;}
}

.navbar-brand img {
  position: relative;
  height: 60px;
  width: 90px;
  margin-top:-8px;
  margin-left: 15px;
  padding-bottom: 4px;
  z-index: 99;
}

.container-fluid{
  height:65px;
}


footer{
  text-align: center;
  color:#333130;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #FFF0F2;
  font-size: 1.25em;
}

footer a{
  color:#333130;
}

footer a:hover{
  text-decoration: none;
  color:#8E6D73;
  font-weight: 400;
}



/*About*/

header {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FFC4CE;
  font-size: 3em;
}

.border p{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1em;
  padding-right: 4%;
  padding-left: 4%;
  color: #333130;

}

.border p:nth-child(1){
  padding-top: 4%;
  padding-bottom: 4%;
}
.border p:nth-child(2){
  padding-bottom: 4%;
}

.border a{
  color:#FFC4CE;
}

.border img{
  width: 100%;
  height: auto;
  padding: 4%;
}


/*Portfolio*/

#row1{
  padding-top: 0;
  margin-top: -15%;
  padding-bottom: 5%;
}

#row2{
  padding-bottom: 5%;
}

.thumbnail{
  width:105%;
}
.col col-md-4 {
  height: 90%;
}

.thumbnail h3 {
  font-size: 1.4em;
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  color: #333130;
}


.thumbnail img{
  width: 24em;
  height: 10em;
  padding: 3%;
}



/*Contact*/

.container {
  text-align: center;
  margin-top: 13%;

}

.row{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
}

.col-md-3 a {
  color: #333130;
  text-decoration: none;
}

.col-md-3 a:hover {
  color: #FFC4CE;
}



body.contact {
  margin: 0;
  padding: 0;
  background: url(img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
